@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top ,#49a09d, #5f2c82);
    }

    section#login{
       width: 90vw;
       height: 300px;
    }

    section#login>div#imagem{
        /*vai mover a div para o lado esquerdo. Lembrando que a div tem display block*/
       float: left;
       height: 100%;
       width: 25%;
     }

     section#login>div#formulario{
        /*vai mover a div para o lado esquerdo. Lembrando que a div tem display block*/
       float: right;
       width: 75%;
     }

     div#formulario>h1{
       font-size: 2rem;
   }
  
   div#formulario>p{
      font-size: 1.2rem;
   }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top ,#49a09d, #5f2c82);
    }
    
    section#login{
       width: 900px;
       height: 330px;
    }

    section#login>div#imagem{
        /*vai mover a div para o lado esquerdo. Lembrando que a div tem display block*/
        float: right;
       height: 100%;
       width: 50%;
     }

     section#login>div#formulario{
        /*vai mover a div para o lado esquerdo. Lembrando que a div tem display block*/
       float: left;
       width: 50%;
     }

     div#formulario>h1{
      font-size: 2rem;
  }
 
  div#formulario>p{
     font-size: 1.2rem;
  }
}