@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------icone -----------*/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 ;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/*---------------------------*/


body{
    background-color: #5b1b77;
}

body>main{
    position: relative;
}


main>section{
    background-color: white;
    width: 380px;
   

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);

    margin-top: 100px;
    border-radius: 10px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.348); 
   
}

main>section>div{
   height: 300px;
   width: 380px;

   border-top-right-radius: 10px;
   border-top-left-radius: 10px;

   background-image: url('../imagens/pexels-aydin-photography-15310249.jpg');
   background-size: cover;
   background-position: center top;
   
}



section>form>h1{
    text-align: center;
    padding: 10px;
    text-transform: lowercase;
    font-size: 2em;
}

section>form{
   padding: 10px;
   text-align: justify;
}

section>form>p.caixaroxo{
    background-color: #5b1b77;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
   
 }

 section>form>p.caixaroxo>input{
        padding: 10px;
 }

 section>form>p#texto{
    margin-bottom: 10px;
    line-height: 25px;
 }

 section>form>p#entrar>input{
   display: block;
   margin: auto;
   width: 360px;
   padding: 10px;
   background-color: #6cb6b6;
   border: 1px solid #6cb6b6;
   color: white;
 }

 section>form>p#entrar>input:hover{
    background-color: #296f6f;
    border: 1px solid #6cb6b6;
    color: white;
  }
 


 section>form>p#esqueci>input{
    display: block;
    margin-top: 10px;
    width: 360px;
    padding: 10px;
    border: 1px solid #6cb6b6;
    color:  #3b8888;
  }

  section>form>p#esqueci>input:hover{
    border: 1px solid #6cb6b6;
    color:  white;
    background-color: #3b6363;
  }
