@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------icone -----------*/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 ;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



body{
    background-color: #5b1b77;
}

body>main{
    position: relative;
}


main>section{
    background-color: white;
    height: 750px;
    width: 400px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);

    margin-top: 100px;
    border-radius: 10px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.348); 
   
}

main>section>div{
   height: 300px;
   width: 400px;

   border-top-right-radius: 10px;
   border-top-left-radius: 10px;

   background-image: url('../imagens/pexels-aydin-photography-15310249.jpg');
   background-size: cover;
   background-position: center top;
   
}



section>form>h1{
    text-align: center;
    padding: 10px;
    text-transform: lowercase;
    font-size: 2em;
}

section>form{
   padding: 10px;
   text-align: justify;
}

section>form>p.caixaroxo{
    background-color: #5b1b77;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
   
 }

 section>form>p#texto{
    margin-bottom: 10px;
 }
